@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 600px; /* ou qualquer largura que você preferir */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 40px auto; /* Centraliza e adiciona margem superior */
}


main {
    padding-top: 40px; /* Adicione espaço acima do formulário */
}


.header {
    background-color: #0d97a7;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px; /* Aumenta o tamanho da fonte do título */
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    margin-bottom: 20px;
}

.form label {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    display: block;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}


.form input[type="text"],
.form input[type="tel"],
.form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color: #D9D9D9;
    font-size: 14px;
}

.half-inputs {
    display: flex;
    gap: 10px;
}

.half-inputs div {
    flex: 1;
}

.upload-section {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.upload-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f2f2f2;
    padding: 8px 12px; /* Tamanho ajustado da caixa de upload */
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.upload-icon {
    font-size: 18px; /* Tamanho do ícone de câmera */
}

.upload-label input[type="file"] {
    display: none; /* Esconde o campo de upload padrão */
}

.submit-btn {
    background-color: #0d97a7;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    width: 30%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Aumenta o tamanho da fonte do botão */
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
    font-weight: 500; /* Ajusta a espessura da fonte (opcional) */
}

.submit-btn:hover {
    background-color: #0b7f8c;
}

.menu-site a i {
    margin-left: 30px;
}